.row{
	margin: 0
}
.row{
  > div{
    padding: 0
  }
}
#footer{
  display: none;
}
.glyphicon-menu-down:before {
  content: "\e114";
	font-weight: lighter;
  font-size: 70%;
}
body{
	background-color: $white;
	font-family: "Vollkorn", serif;
	line-height: 2em;
}
button.btn.btn-default.dropdown-toggle:hover .dropdown-menu {
  display: block !important;
}
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}
header{
  background: white;
  padding: 1.5em 1em;
  height: 90px;
  @media (max-width: 1380px) {
    height: 140px;
  }
  .navbar-primary{
    margin-bottom: 0;
    background: white;
    border: white;
  }
  .navbar-default .navbar-nav > li > a{
    color: white
  }
  .navbar-default .navbar-nav > li > a:hover{
    color: #c34949
  }
  @media (max-width: 768px) {
    padding: 1em;
    .btn-group {
      float: right;
      margin-top: 10px
    }
    .logo-atelier{
      float: left
    }
  }
  .btn-block {
    color: $white;
    font-size: 140%;
  }
  .btn-block:hover {
    color:$brand-primary;
    text-decoration: none;
  }
  .active, header .active:hover{
    color: $brand-primary;
  }
  .logo-atelier{
    span{
      color: $white;
      font-size: 90%;
    }
  }
  .dropdown-menu, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
    background: white;
    width: 100%;
    a{
      width: 100%;
      background: white
    }
  }
}
a{
	cursor: pointer;
}
a:hover{
	text-decoration: none;
}
h1{
  font-size: 50px;
}
.text-center{
  text-align: center
}
